<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= genre.name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <br>    
    <h1><%= genre.name %> </h1>
    <br><br>
    <p><strong>NOMBRE:</strong> <%= genre.name %> </p>
    <br>
    <p><strong>RANKING:</strong> <%= genre.ranking %> </p>
    <br>
    <p><strong>MOVIES:</strong> </p>
    <ul style="padding-left: 30px">
        <% genre.movies.forEach(movie => { %>
            <li>
                <%= movie.title %>  
            </li>
        <% }) %>
        
    </ul>

</body>
</html>