<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= actor.first_name %> <%= actor.last_name %></title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <br>    
    <h1><%= actor.first_name %> <%= actor.last_name %></h1>
    <br><br>
    <p><strong>RATING:</strong> <%= actor.rating %></p>
    <br>
    <% if (actor.favorite_movie_id) { %>
        <p><strong>PELÍCULA FAVORITA:</strong> <%= actor.favorite_movie_id %></p>
    <% } %>
    <br>
    <p><strong>MOVIES:</strong></p>
    <ul style="padding-left: 30px">
        <% actor.movies.forEach(movie => { %>
            <li>
                <%= movie.title %>
        <% }) %>
        
    </ul>
    <br>
</body>
</html>